<h1>Find your perfect match!</h1>

<form method="POST" action="/allpetowners">
  <div class="form-check guest-form">
    <input value="Amsterdam" class="form-check-input" type="radio" name="guestCity" id="flexRadioDefault1">
    <label class="formCheckLabel" for="Amsterdam" >Amsterdam</label>
  </div>
  <div class="form-check guest-form"> 
    <input value="Berlin" class="form-check-input"  type="radio" name="guestCity" id="flexRadioDefault2">
    <label class="formCheckLabel" for="Berlin">Berlin</label>
  </div>
  <div class="form-check guest-form">
    <input value="cat" class="form-check-input" type="radio" name="guestPet" id="flexRadioDefault1">
    <label class="formCheckLabel" for="cat" >Cat</label>
  </div>
    <div class="form-check guest-form">
    <input value="dog" class="form-check-input" type="radio" name="guestPet" id="flexRadioDefault1">
    <label class="formCheckLabel" for="dog">Dog</label>
  </div>
  <div class="form-check guest-form">
    <input value="both" class="form-check-input" type="radio" name="guestPet" id="flexRadioDefault1">
    <label class="formCheckLabel" for="both">Both</label>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
  </form>

 {{#each owners}}
  <a href="/allpetowners/{{ this._id }}"></a>
      <div>{{this.name}} & {{ownerPetName}} </div>  {{!-- why is & sign red and is that gonna give us problems later? --}}
      <div>{{this.city}}</div>
      <br>
      
 {{/each}} 
 