<h1>Here are your matches</h1>

<a href="/allguests">Edit your search</a>

{{#each result}}
  <a href="/filteredGuests/{{ this._id }}"></a>
      <div>{{this.name}}</div>  
      <div>{{this.city}}</div>
      <a class="nav-link" href="/{{this._id}}/guestdetails"><button type="button" class="btn btn-outline-secondary">Go to profile</button></a>
      <br>
      
 {{/each}} 