<h1>Welcome to Pet Project</h1>

<a class="find-link" href="/findPetLover"> <button type="button" class="btn btn-outline-secondary">Find pet lover</button></a>
<a class="find-link" href="/findPetOwner"> <button type="button" class="btn btn-outline-secondary">Find pet owner</button></a>
