<div class="container-fluid">

<section class="home-container">
  <div class="intro">
    <h1 class="title">pet <br> and <br> bed</h1>
    <h2>We love pets but we also love to travel, visit new places and have new experiences.</h2>
  </div>
  

  <div class="about-us">
    <p>For all of you, pet owners who want to go on a short trip or a long holiday. 
      Get in toch with the right person who will give your four-legged friend all the love and attention while you’re away.</p>

    <p>And for all of you, pet lovers who don’t have a furry friend but would love to spend some time with one while exploring a new city. 
      It’s up to you, whether you’re in for a walk or maybe you’re looking forward to have a couple of lazy days.</p>
  </div>
</section>

<section class="action">

  <div class="go-and-find">

    <h1 class="match">Sign up and find the perfect match!</h1>

    <div class="go-to-all">
      <a class="find-link" href="/allguests"> <button type="button" class="btn btn-outline-secondary btn-go-and-find">find pet lover</button></a>
      <a class="find-link" href="/allpetowners"> <button type="button" class="btn btn-outline-secondary btn-go-and-find">find pet owner</button></a>
    </div>

  </div>

  <img src="images/blackCat.jpg" class="hiding-cat" alt="hiding cat">
</section>

</div>
  






