/* font-family: 'Raleway', sans-serif; */
/* blue  #1F2257  */
/* orange #EB5524 */
/* peach  #F6B68E */
/* off white #F6F0E4 */
/* purple #6B4D91 */

/* @media screen and (min-width: 500px) {
       Targets all devices greater than 500px
       CSS for tablets
  }
  
@media screen and (min-width: 1000px) {
       Targets all devices greater than 1000px
       CSS for Desktops
  } */

  /* @import all-pet-lovers.hbs;
  @import all-pet-owners.hbs; */

body {
  margin: 0px;
  font-family: 10px "Raleway", sans-serif;
  background-color: #f6f0e4;
  background-image: url("../images/shapes_rgb.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: -30px 235px;
}

.background-img-container {
  background-image: url("../images/shapes_rgb.png");
  background-size: 50%;
  background-repeat: repeat-y;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1f2257;
}

p {
  color: #1f2257;
  font-weight: 400;
  font-size: 1.3em;
}

.container-nav {
  height: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  margin: 0px 80px 0px 80px;
  border-bottom: 3px solid #1f2257;
}

.home {
  align-self: center;
  margin-left: 0px;
}

.dropdown {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
}

.dropdown-toggle {
  box-shadow:  rgba(0, 0, 0, 0) !important;
  margin-right: 30px;
  border: 3px solid #1f2257;
  color: #1f2257;
  background-color: #f6f0e4;
  border-radius: 25px;
  padding: 10px 40px;
}

.dropdown-toggle:hover {
  border: none;
  color: #f6f0e4;
  background-color: #1f2257;
  border-radius: 25px;
}

.btn-log-out {
  border: 3px solid #1f2257;
  color: #1f2257;
  background-color: #f6f0e4;
  border-radius: 25px;
  padding: 10px 40px;
}

.btn-log-out:hover {
  border: none;
  color: #f6f0e4;
  background-color: #1f2257;
  border-radius: 25px;
  padding: 10px 40px;
}

/* dropdown change not applied ================================*/
.dropdown-item {
  background-color: none;
  border: none !important;
  color: #1f2257 !important;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 100px;
}

.intro h1 {
  font-size: 7em;
  font-weight: 800;
  margin: -40px 70px 0px 100px;
}

.intro h2 {
  font-size: 3em;
  font-weight: 600;
  width: 50%;
}

.go-and-find h1 {
  color: #6b4d91;
  font-weight: 800;
  font-size: 7em;
}

.about-us {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: -110px 150px 50px;
}

.about-us p {
  font-size: 1.5em;
  font-weight: normal;
  width: 30%;
  margin: 40px;
}
.navigation {
  /* background-color: thistle; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
}

.nav-tabs {
  display: flex;
  align-self: center;
  justify-content: flex-end;
  margin-right: -50%;
}
/* ======================================== */
.action {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  margin: 50px 70px 150px 50px;
}

.hiding-cat {
  margin: 50px 70px 50px 50px;
  z-index: -2;
}

.match {
  margin-top: 10px;
  margin-left: 100px;
  width: 120%;
  height: 450px;
  z-index: -1;
}

.go-and-find {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1300px;
}

.go-to-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
  align-items: center;
  margin: 0px 80px;
  align-content: space-around;
}

.btn-go-and-find {
  border: none;
  color: #f6f0e4;
  background-color: #1f2257;
  border-radius: 25px;
  width: 200%;
  height: 50px;
}

.btn-go-and-find:hover {
  border: 2px solid #1f2257;
  color: #1f2257;
  background-color: #f6f0e4;
  border-radius: 25px;
}

footer {
  position: fixed;
  bottom: 0;
  margin: 0px 200px 0px 80px;
  background-color: #f6f0e4;
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  border-top: 3px solid #1f2257;
  margin: 0px 200px 0px 80px;
  z-index: 10 !important;
}

footer > p {
  align-items: center;
  margin: 50px 0px;
  font-weight: bold;
  font-size: 1em;
}

.greetings {
  font-size: 4em;
  font-weight: 800;
  margin: 50px 70px 0px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.owner-form {
  /* background-color: darkgoldenrod; */
  width: 25%;
}

.sign-up-in-container {
  /* background-color: teal; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 200px;
}

.owner-form > label {
 font-weight: normal;
 font-size: 1.5em;
}

.owner-form > .label {
  font-weight: normal;
  font-size: 1.5em;
 }

 .form-label {
  margin: 15px 0px;
  font-weight: normal;
  font-size: 1.5em;
}


.cat2 {
  margin-top: -450px; 
  /* margin-right: 50px; */
  padding: 100px;
}

.blue-btn {
  margin-top: 40px;
  width: 100%;
}

.form-control {
  border: 3px solid #1f2257;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0) !important;
  /* border-bottom: 2px solid #1F2257 !important; */
}

#flexRadioDefault1,
#flexRadioDefault2 {
  border: 3px solid #1f2257;
  color: #1f2257 !important;
}

.form-check {
  margin-bottom: 10px;
}

/* sign in owner page =============================== */

.sign-up-in-container-wide  form {
  /* background-color: thistle; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: space-around;
  width: 400px;
  margin-top: 50px;
}

form > .logIn-form {
  margin: 25px;
}

.sign-up-in-container-wide > .form-control {
  width: 300px;
}

/* all owners page======================================== */

.greetingsTwo {
  font-size: 4em;
  font-weight: 800;
  margin: 50px 70px;
  width: 300px;
}

.wellcomeOwner {
  margin-left: 20px;
}


.formCheckLabel,
.formCheckInput {
  font-size: 1.5em;
  font-weight: normal;
  color: #1f2257;
}

/* filtered serch btn ================================  */
.horizontal-form {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  top: 150px;
  right: -40px;
  /* background-color: palegreen; */
}

.new-btn {
  padding: -15px 10px 40px 0px; 
  margin-top: -15px;
  margin-bottom: 40px;
  width: 200px;
}

.radio-btn-container {
  width: 900px;
  display: flex;
  flex-direction: row;
  align-content: center;
  /* background-color: darkmagenta; */ 
}

.pet-choice,
.city-choice {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 300px; 
} 

/* error =============================== */

div.error {
  position: fixed;
  top: 40px;
  left: 130px;
  font-size: 1.3em;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #f6f0e4;
  background-color: #EB5524;
  padding: 5px 50px;
  border-radius: 25px; 
}

.one {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 40px 50px;
}

.card {
  border: rgba(0, 0, 0, 0) !important;
  /* border: 2px solid #1f2257; */
  /* background-color: rgba(0, 0, 0, 0) !important; */
  background-color: #f6f0e4;
  margin: 0px 30px;
  /* background-color: magenta; */
  height: 400px;
}

.card-btn {
  border: 2px solid #1f2257;
  color: #1f2257;
  background-color:  rgba(0, 0, 0, 0) !important;
  border-radius: 25px;
  padding: 7px 25px;
  margin: 10px 0px 10px;  
}

.card-btn:hover  {
  border: none;
  color: #f6f0e4;
  background-color: #1f2257 !important;
  border-radius: 25px;
  padding: 10px 40px;
}

.card-text {
  font-weight: 700;
  font-size: 1.5em;
}

.card-title {
  margin-top: 30px;
  font-weight: normal;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 70px 70px 20px;
}

.new-btn {
  width: 200px;
  color: #f6f0e4;
  background-color: #1f2257;
  border-radius: 25px;
  padding: 13px 40px;
}

.new-btn:hover {
  width: 200px;
  color: #1f2257;
  background-color:  rgba(0, 0, 0, 0) !important;
  border: 2px solid #1f2257;
  border-radius: 25px;
}

/* profile page =======================*/

.btn-section {
  /* background-color: lightseagreen; */
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
  padding-top: 70px;
  padding-bottom: 20px;;
}

.btn-profile {
  border: none;
  color: #f6f0e4;
  background-color: #1f2257;
  border-radius: 25px;
  width: 130%;
  margin: 5px;
}

.btn-profile:hover {
  border: 2px solid #1f2257;
  color: #1f2257;
  background-color: #f6f0e4;
  border-radius: 25px;
  /* background-color: rgba(0, 0, 0, 0) !important; */
}

.box {
  display: flex;
	flex-direction: column;
  justify-content: center;
	flex-wrap: wrap;
  /* margin: 30px; */
  background-color: #f6f0e4;
}

.col-md-4 {
  padding-top: 50px;
}

/* edit guest page */

.upload {
  display: flex;
	flex-direction: column;
  justify-content: center;
  padding: 200px;
}

.edit-container  {
  /* padding-top: 80px; */
  padding: 80px;
  margin: 50px;
  /* background-color: magenta; */
}

.two {
  position: relative;
  top: 100px;
  left: 600px;
}

.profile {
  margin: 10px 30px;
}