<h1>Welcome Guest</h1>

<form method="POST" action="/guestSignUp">
  <div class="guest-form"><img src="" alt=""></div>
  <div class="guest-form">
    <label for="example-name" class="form-label">Name</label>
    <input name="guest-name" type="text" class="form-control" id="example-name">

    <label for="example-lastname" class="form-label">Last name</label>
    <input name="guest-lastname" type="text" class="form-control" id="example-lastname">

    <label for="example-input-email" class="form-label">email</label>
    <input name="guest-email" type="Email" class="form-control" id="example-lastname">
  
    <label for="example-phoneNr" class="form-label">Phone Nr</label>
    <input name="guest-phoneNr" type="number" class="form-control" id="example-lastname">
  
  </div>
  
  {{!-- <div class="mb-3">
    <label for="exampleInputDescription1" class="form-label">propellers</label>
    <input  name="propellers" type="number" class="form-control" id="exampleInputDescription1">
  </div>
  <div class="mb-3">
    <label for="exampleInputDescription1" class="form-label">max speed</label>
    <input  name="maxSpeed" type="number" class="form-control" id="exampleInputDescription1">
  </div> --}}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>