<h1>Welcome Guest</h1>

<form method="POST" action="/guestSignUp">
  <div class="guestForm"><img src="" alt=""></div>
  
  <div class="guest-form">
    <label for="example-name" class="form-label">Name</label>
    <input name="guestName" type="text" class="form-control" id="example-name">

    <label for="example-input-email" class="form-label">Email</label>
    <input name="guestEmail" type="Email" class="form-control" id="example-email">
  
  </div>

  <div class="guest-form">
    <label for="example-street" class="form-label">Address</label>
    <input name="guestAddress" type="text" class="form-control" id="example-address">
    
  <div class="form-check guest-form">
    <input class="form-check-input" value="Amsterdam" type="radio" name="guestCity" id="flexRadioDefault1">
    <label class="formCheckLabel" for="Amsterdam" >Amsterdam</label>
  </div>
  <div class="form-check guest-form"> 
    <input class="form-check-input" value="Berlin" checked type="radio" name="guestCity" id="flexRadioDefault2" checked>
    <label class="formCheckLabel" for="Berlin">
      Berlin
    </label>
  </div>
<br>
  <div>
    <div class="form-check guest-form">
      <input class="form-check-input" value="Netherlands"type="radio" name="guestCountry" id="flexRadioDefault1">
      <label class="formCheckLabel" for="Netherlands">
        Netherlands
      </label>
    </div>
    <div class="form-check guest-form">
      <input class="form-check-input" value="Germany" type="radio" name="guestCountry" id="flexRadioDefault2">
      <label class="formCheckLabel" for="Germany">
        Germany
      </label>
    </div>
  </div>
  <div>
    <label for="example-password" class="form-label">Password</label>
    <input name="guestPassword" type="password" class="form-control" id="example-password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>