<form method="POST" action="/logIn">
<div class="logIn-form">
    <label for="example-name" class="form-label">Name</label>
    <input name="logInName" type="text" class="form-control" id="example-name">

    <label for="example-input-email" class="form-label">Email</label>
    <input name="logInEmail" type="Email" class="form-control" id="example-email">
  
  </div>
  <div>
    <label for="example-password" class="form-label">Password</label>
    <input name="guestPassword" type="password" class="form-control" id="example-password">
  </div>
    <button type="submit" class="btn btn-primary">Log in</button>
</form>